.sidebar {
	background-color: "black";
	width: 85px;
	height: 100vh;
	position: fixed;
	color: #333;
	transition: 0.4s;
	overflow-y: auto;
	z-index: 1000000000000000000;

  }
  
  
  .sidebar .sidebar-upper,
  .sidebar .sidebar-heading,
  .sidebar .sidebar-menu,
  .sidebar .menu-item,
  .sidebar .sidebar-footer {
	display: grid;
  }
  
  .sidebar .sidebar-upper {
	z-index: 1000000000000000000;
  }
  
  .sidebar .sidebar-heading {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	padding: 20px;
	outline: none;
	height: 75px;
  }
  
  .sidebar .sidebar-brand {
	display: flex;
	align-items: center;
	color: #333;
  }
  
  .sidebar .sidebar-brand h2 {
	margin-left: 10px;
	font-size: 16px;
  }
  
  .sidebar .sidebar-toggle {
	background: none;
	border: none;
	cursor: pointer;
	align-items: center;
	margin: auto;
	padding: 5px;
	outline: none;
  }
  
  .sidebar .sidebar-toggle span {
	display: block;
	margin-top: 6px;
	background-color: #333;
	border-radius: 15px;
	height: 3px;
	width: 35px;
	transition: 0.4s;
  }
  
  .sidebar .sidebar-toggle:hover span {
	background-color: #9bcce8;
  }
  
  .sidebar .sidebar-toggle:hover span:nth-child(1) {
	width: 25px;
	transform: translateY(4px) rotate(-25deg);
  }
  
  .sidebar .sidebar-toggle:hover span:nth-child(2) {
	width: 40px;
  }
  
  .sidebar .sidebar-toggle:hover span:nth-child(3) {
	width: 25px;
	transform: translateY(-4px) rotate(25deg);
  }
  
  .sidebar .menu-item {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 20px;
	border-radius: 5px;
	transition: background-color 0.3s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  .sidebar .menu-item:hover {
	background-color: #ebebeb;
	padding: 15px 10px;
  }
  
  .sidebar .menu-item svg {
	width: 28px;
	height: 28px;
	margin: 0 15px;
	color: #353535;
  }
  
  .sidebar .menu-item span {
	font-size: 14px;
	color: #666;
  }
  
  .sidebar .sidebar-footer {
	width: 100%;
	height: 87px;
	position: absolute;
	bottom: 0;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
	align-items: center;
  }
  
  .sidebar .sidebar-details {
	display: flex;
	align-items: center;
  }
  
  .sidebar .sidebar-footer-avatar {
	width: 50px;
	padding: 0 20px;
  }
  
  .sidebar .sidebar-footer-info {
	color: #333;
  }
  
  .sidebar .sidebar-footer-user-name {
	font-size: 18px;
	font-weight: 900;
  }
  
  .sidebar .sidebar-footer-user-position {
	margin-top: -15px;
	color: #777;
  }
  
  .sidebar .logout-icon {
	width: 30px;
	margin: auto;
	border-radius: 90px;
	padding: 20px;
	margin-left: 5px;
  }
  
  .sidebar .logout-icon:hover {
	background-color: #9bcce8;
  }
  
  .sidebar .collapsed .sidebar-toggle {
	margin-left: 20px;
	transform: rotate(0deg);
  }
  
  .sidebar .collapsed .sidebar-toggle span:nth-child(1) {
	width: 25px;
	transform: translate(8px, 4px) rotate(-155deg);
  }
  
  .sidebar .collapsed .sidebar-toggle span:nth-child(2) {
	width: 40px;
  }
  
  .sidebar .collapsed .sidebar-toggle span:nth-child(3) {
	width: 25px;
	transform: translate(8px, -4px) rotate(155deg);
  }
  
  .sidebar .collapsed .menu-item {
	justify-content: center;
  }
  
  .sidebar .collapsed .menu-item span {
	display: none;
  }
  
  .sidebar .collapsed .menu-item.collapsed {
	margin: 10px;
  }
  
  .sidebar .collapsed .sidebar-footer-details {
	display: none;
  }
  .submenu {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	display: none;
	background-color: #fff;
	padding: 1px;
  }
  
  .menu-item:hover .submenu {
	display: block;
  }
  
  .menu-item-settings {
	cursor: pointer;
  }
  
  .menu-item-settings::after {
	content: "\25B6";
	margin-left: 5px;
  }
  
  
  .dropdown-menu {
    /* Styles for the dropdown menu... */
    position: absolute;
	width: 100%;
    top: 0;
    margin-top: -10px;
    padding: 0px;
    border-radius: 4px;
	color: #333;
  }

  .dropdown-menu a {
	color: #333;
    display: block;
    padding: 5px;
    text-decoration: none;
  }

  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
#dropdown-button{
	padding: 1;
	width: 50px;
	left: 0;
}