.selectoptions{
  padding: 5px;
  width: 40vw;
  font-size: x-large;
  }
  label{
    margin-top: 2.5vw;
    margin-left: 120px;
    font-size: x-large;
  }
.line{
  display: flex;
}

  .watchlist {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    margin-right: 50px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  
  .watchlist:hover {
    background-color: blue;
  }
    .take:hover{
      cursor: pointer;
      color: blue;
      background-color: blue;
    }
Td{
  background-color: white;
  font-size: large;
  padding: 10px;
  border: 2px solid black;
}
Th{
  background-color: white;
  padding: 10px;  
  border: 2px solid black;
font-size: x-large;
}
@media (max-width: 768px) {
  .line{
    display: block;
  }
  .selectoptions{
    padding: 5px;
    width: 70vw;
    font-size: x-large;
    }
    Th{
      background-color: white;
      font-size: x-large;
    }
    
}