body{
  position: sticky;
}
.contai {
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    width: 90%;
    color: black;
    justify-content: center;
    align-items: left;
    padding-left: 0;
    padding-right: 0;
  }
  .head {
    background-color: sandybrown;
    font-size: 40px;
    width:100%;
    font-weight: bold;
    color: orange;
    position: relative;
  }
  .li{
    font-size: x-large;
    display: flex;
    width: 100%;
    overflow: visible;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-top : 1px solid black; 
    border-bottom : 1px solid black; 
    color: black;
    justify-content: 'space-between';
    align-Items: 'center';
    display: flex;
       color: black;
    padding-right: 15;
  }
  ul{
    margin-left: 0;
    border: 1px solid black; 
    
    align-self: left;
  }
  #bu{
    margin-right: 0;
    font-size: x-large;
    height: fit-content;
    width: 500;
    background-color: orange;
    border-radius: 25px;
        }
    span{
        margin-left: 0;
        width: 85%;
        text-align: left;
    }