.trucket {
    display: -webkit-box;
    max-width: 100%;
    line-height: 28px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /*position:absolute;*/
    height: 100%;
  }
  .navbar-toggler-icon {
background-image: url("./static/assets/ic_baseline-menu.svg");
}
body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.carousel-control-prev{
  background-image: url('./static/assets/dashicons_arrow-left-alt2.png')
  repeating-linear-gradient()

}
.carousel-control-next-icon{
  background-image: url('./static/assets/dashicons_arrow-left-alt1.png')
}