.log{
    text-align: center;
    color: rgb(85, 81, 81);
}
.trucket {
    display: -webkit-box;
    max-width: 100%;
    line-height: 28px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /*position:absolute;*/
    height: 100%;
}
.divider:after,.divider:before {
content: "";
flex: 1;
/* height: 1px; */
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
.navbar-toggler-icon {
    background-image: url("{% static 'assets/ic_baseline-menu.svg' %}");
}
}
.navbar-toggler-icon {
background-image: url("{% static 'assets/ic_baseline-menu.svg' %}");
}